#a1{
    position: relative;
    top: 10rem;
    left:30%;
}
#a2{
    position: relative;
    top: 16rem;
    left:30%;
}
#a3{
    position: relative;
    top: -1rem;
    left:48%;
}
#a4{
    position: relative;
    top: -19rem;
    left:66%;
}
#a5{
    position: relative;
    top: -13rem;
    left:66%;
}
